<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/header.html')%>

</head>
<body>
    <!-- NAVEGATION -->
    <%- include('partials/navegacion.html') %>
<!-- fin navegation -->

<!-- MAIN CONTENT -->
<div class="jumbotron p-5 mt-4">
    <h1 class="display-4">Hola, Bienvenido!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit obcaecati assumenda aliquid non nesciunt in, excepturi cumque atque saepe fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil consequuntur voluptas perferendis placeat. Iste necessitatibus architecto atque tempora quos. Consectetur assumenda incidunt sunt.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
<!-- fin main content -->


<!-- FOOTER -->
    <%- include('partials/footer.html')%>

</body>
</html>